header{
    background-color: rgb(46, 46, 46);
    color: rgb(241, 241, 241);
    width: 98%;
    min-height: 40px;
    padding: 20px;
    gap: 8px 15px;
}
h1{
    padding: 10px 10px 0px 30px;
    font-size: 60px;
    border-bottom: 2px solid #ffffff;
}

.buttoms{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 0px 30px 3px;
}

.buttonI{
    padding: 15px 40px;
    background-color: transparent;
    border: 2px solid transparent;
    color: white;
    cursor: pointer;
    transition: 0.6s;
    font-size: 23px;
    position: absolute;
    top: 80px;
    right: 260px;
}
.buttonI:hover{
    -webkit-text-stroke-width: 0.5px;
}

.buttonR{
    padding: 15px 40px;
    font-size: 20px;
    background-color: #8b7330;
    border-color: 2px solid #b8973c;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.6s;
    position: absolute;
    right: 40px;
    top: 80px;
}
.buttonR:hover{
    background-color: #e2e2e2;
    border-color: 10px solid #c5c5c5;
    color: #000000;
}




h2{
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
}

h3{
    text-align: center;
    font-size: 30px;
    border-top: 25px solid #e6e6e6;
    padding: 10px;
    font-family: sans-serif
}
h4{
    text-align: center;
    font-size: 30px;
    border-top: 25px solid #ffffff;
    padding: 10px;
    font-family: sans-serif;
}

.op1{
    background-color: #e6e6e6;
    padding: 30px;
    border-left: 150px solid #e6e6e6;
    border-right: 150px solid #e6e6e6;
}
.op2{
    background-color: #ffffff;
    padding: 30px;
    border-left: 150px solid #ffffff;
    border-right: 150px solid #ffffff;
}




h4{
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    border-top: 20px solid #ffffff;
}
.footer{
    background-color: rgb(53, 53, 53);
    color: rgb(218, 218, 218);
    padding: 10px 40px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.backToTop{
    color: #dfdfdf;
    border: 2px solid #49666d;
    background-color: #49666d;
    padding: 20px 20px;
    display: block;
    text-align: center;
    transition: 0.5s;
}

.backToTop:hover{
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.2px;
}